 *{
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

 

.Headersection{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  
 
}
.search input{
 padding: 10px ;
 width: 20rem;
 margin-left: -150px;
}
.center ul li {
  list-style: none;
  display:inline-flex;
  margin: 0px 10px;
  
}
.title{
  font-size: 1rem;

}
.left{
  flex:2;
  /*border: 1px solid black;*/
}
.center{
  flex: 4;
   /*border: 1px solid black;*/
}
.search{
  flex: 2;
   /*border: 1px solid black;*/
}
.right{
   flex:2;
   /*border: 1px solid black;*/
   display: flex;
   justify-content: space-between;
}
.bannerbox img{
  width: 100% ;
}
.menimages{
  display: flex;
  gap: 10px;
}
.menimages img{
  width: 220px ;
  height: 220px;
 
}
.womensimages img{
  width: 220px ;
  height: 220px;
}
.womensimages{
  display: flex;
  gap: 10px;
}